/*
 * Empty Stylesheet file.
 */

.alert{
    -fx-border-radius: 20px;
    -fx-background-radius:20px;
    -fx-background-color:rgba(255,255,255,0.8);
    -fx-padding: 10;
}

.alert-header{
    -fx-pref-height: 35px;
    -fx-max-height: 35px; 
    -fx-min-height: 35px;
    -fx-font-size: 18px;
}

.alert-body{
    -fx-min-height: 35px;
    -fx-font-size: 18px;
}

.alert-footer{
    -fx-pref-height: 35px;
    -fx-max-height: 35px; 
    -fx-min-height: 35px;
    -fx-font-size: 18px;
}